<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Server Programming</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" />
</head>
<body>
	<h1>Add BP</h1>
	
	<div>
		<form action="#" th:action="@{save}" th:object="${bloodPressure}"  method="post">
		
			<label for="systolic">Systolic</label> 
			<input type="number" id="systolic" th:field="*{systolic}" /> <br> 
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="diastolic">Diastolic</label>
			<input type="number" id="diastolic" th:field="*{diastolic}" /> <br> 
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="pulseRate">Pulse Rate</label> 
			<input type="text" id="pulseRate" th:field="*{pulseRate}" /> <br>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="date">Date</label> 
			<input type="text" id="date" th:field="*{date}" />  <br>
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="time">Time</label>
			<input type="text" id="time" th:field="*{time}" /> <br>
			
			<div style="clear: both; display: block; height: 10px;"></div>	
            
            <input type="submit" value="Save" class="btn btn-success"/>
		</form>
	</div>
</body>
</html>