<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Server Programming</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>Edit Exercise</h1>
	
	<div>
		<form action="#" th:action="@{${weightId}}" th:object="${weight}"  method="post">
		
			<label for="weight">Weight</label> 
			<input type="number" id="weight" th:field="*{weight}" /> <br> 
			
			<div style="clear: both; display: block; height: 10px;"></div>
			
			<label for="date">Date</label>
			<input type="text" id="date" th:field="*{date}" /> <br> 
			
			<div style="clear: both; display: block; height: 10px;"></div>
				
            <input type="submit" value="Save" />
		</form>
	</div>
</body>
</html>