<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>My user List</h1>
	<h2>Blood Pressure data</h2>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Systolic Bp</th>
			<th>Diastolic BP</th>
			<th>Pulse rate</th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<tr th:each=" userBP: ${usersBP}">
			<td th:text="${userBP.user.name}"></td>
			<td th:text="${userBP.systolic}"></td>
			<td th:text="${userBP.diastolic}"></td>
			<td th:text="${userBP.pulseRate}"></td>
			<td th:text="${userBP.date}"></td>
			<td th:text="${userBP.time}"></td>
		</tr>
	</table>
	<hr>
	<h2>Exercise data</h2>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Exercise</th>
			<th>Hours</th>
			<th>Date</th>
		</tr>
		<tr th:each=" userEx: ${usersExercise}">
			<td th:text="${userEx.user.name}"></td>
			<td th:text="${userEx.exerciseName}"></td>
			<td th:text="${userEx.exerciseHours}"></td>
			<td th:text="${userEx.exerciseDate}"></td>
		</tr>
	</table>
	<hr>
	<h2> Weight data</h2>
	<table class="table table-striped">
		<tr>
			<th>Name</th>
			<th>Weight</th>
			<th>Date</th>
		</tr>
		<tr th:each=" userWeight: ${usersweight}">
			<td th:text="${userWeight.user.name}"></td>
			<td th:text="${userWeight.weight}"></td>
			<td th:text="${userWeight.date}"></td>
		</tr>
	</table>

</body>
</html>