<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity6">
<head>
<title>Server Programming</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
	<h1>
		Hello <span th:text="${user.name}"></span>!
	</h1>
	<div class="col-md-4" style="padding: 20px 0">
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
		</form>
	</div>

	<h2>Blood Pressure data</h2>

	<table class="table table-striped">
		<tr>
			<th>Systolic Bp</th>
			<th>Diastolic BP</th>
			<th>Pulse rate</th>
			<th>Date</th>
			<th>Time</th>
		</tr>
		<tr th:each=" userBP: ${usersBP}">
			<td th:text="${userBP.systolic}"></td>
			<td th:text="${userBP.diastolic}"></td>
			<td th:text="${userBP.pulseRate}"></td>
			<td th:text="${userBP.date}"></td>
			<td th:text="${userBP.time}"></td>
			<td><a
				th:href="@{/delete/{bloodPressureId}(bloodPressureId=${userBP.bloodPressureId})}"
				class="btn btn-danger">Delete</a></td>
			<td><a
				th:href="@{/editBP/{bloodPressureId}(bloodPressureId=${userBP.bloodPressureId})}">Edit</a></td>
		</tr>
	</table>

	<div class="col-md-4" style="padding: 20px 0">
		<a href="/addNewBP" class="btn btn-success">Add BP</a>
	</div>

	<hr>
	<h2>Exercise data</h2>
	<table class="table table-striped">
		<tr>
			<th>Exercise Name</th>
			<th>Exercise Hours</th>
			<th>Date</th>
		</tr>
		<tr th:each=" userEx: ${usersExercise}">
			<td th:text="${userEx.exerciseName}"></td>
			<td th:text="${userEx.exerciseHours}"></td>
			<td th:text="${userEx.exerciseDate}"></td>
			<td><a
				th:href="@{/editExercise/{exerciseId}(exerciseId=${userEx.exerciseId})}">Edit</a></td>
				<td><a
				th:href="@{/deleteEx/{exerciseId}(exerciseId=${userEx.exerciseId})}"
				class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<div class="col-md-4" style="padding: 20px 0">
		<a href="/addExerciseData" class="btn btn-success">Add Exercise</a>
	</div>
	
	<hr>
	<h2>Weight data</h2>
	<table class="table table-striped">
		<tr>
			<th>Weight</th>
			<th>Date</th>
		</tr>
		<tr th:each=" userWeight: ${usersweight}">
			<td th:text="${userWeight.weight}"></td>
			<td th:text="${userWeight.date}"></td>
			<td><a
				th:href="@{/editWeight/{weightId}(weightId=${userWeight.weightId})}">Edit</a></td>
				<td><a
				th:href="@{/deleteWeight/{weightId}(weightId=${userWeight.weightId})}"
				class="btn btn-danger">Delete</a></td>
		</tr>
	</table>
	<div class="col-md-4" style="padding: 20px 0">
		<a href="/addWeight" class="btn btn-success">Add Exercise</a>
	</div>

</body>
</html>